h1 {
  color: #010079;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #daa000;
  background: -webkit-repeating-linear-gradient(-45deg, #ffee8f, #ffee8f 3px,#ffe48b 3px, #ffe48b  7px);
  background: repeating-linear-gradient(-45deg, #ffee8f, #ffee8f 3px,#ffe48b 3px, #ffe48b  7px);
}