body{
    height:100%;
    margin: 0;
}


.left{
    margin-top:70px;
    position:fixed;
    width:220px;
    height:720px;
    background-color:rgb(214, 214, 214);
    text-align:center;
}

.main_content{
    position:fixed;
    text-align:center;
    margin-top:70px;
    margin-left:250px;
}

